<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spider.alipay.mapper.AlipayBankCardMapper">

    <resultMap id="BaseResultMap" type="AlipayBankCard">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="card_last_num" jdbcType="VARCHAR" property="cardLastNum"/>
        <result column="open_status" jdbcType="VARCHAR" property="openStatus"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="card_type" jdbcType="VARCHAR" property="cardType"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="active_date" jdbcType="TIMESTAMP" property="activeDate"/>
        <result column="show_user_name" jdbcType="VARCHAR" property="showUserName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="AlipayBankCard">
        INSERT INTO pdl_alipay_bank_card (
            user_id, card_last_num, open_status, bank_name, card_type, mobile, active_date, show_user_name
        )
        VALUES (
            #{userId}, #{cardLastNum}, #{openStatus}, #{bankName}, #{cardType}, #{mobile}, #{activeDate}, #{showUserName}
        )
    </insert>
</mapper>